step_function_definition.json
{
  "Comment": "SFTP File Transfer Workflow",
  "StartAt": "Retrieve SFTP Details",
  "States": {
    "Retrieve SFTP Details": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-central-1:175565783406:function:FetchSFTPDetailsLambda",
      "Next": "Fetch SSH Keys"
    },
    "Fetch SSH Keys": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-central-1:175565783406:function:FetchSSHKeysLambda",
      "Next": "Initiate SFTP Transfer"
    },
    "Initiate SFTP Transfer": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-central-1:175565783406:function:InitiateSFTPTransferLambda",
      "Next": "Monitor Transfer Status"
    },
    "Monitor Transfer Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-central-1:175565783406:function:MonitorTransferStatusLambda",
      "Next": "Evaluate Transfer Status"
    },
    "Evaluate Transfer Status": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.TransferStatus",
          "StringEquals": "COMPLETED",
          "Next": "Delete Original File"
        }
      ],
      "Default": "Send Failure Notification"
    },
    "Delete Original File": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-central-1:175565783406:function:DeleteFileLambda",
      "Next": "EndState"
    },
    "Send Failure Notification": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-central-1:175565783406:function:FailureNotificationLambda",
      "Next": "EndState"
    },
    "EndState": {
      "Type": "Succeed"
    }
  }
}
